---
- name: "Install OpenDKIM"
  apt:
     name: "opendkim"
     state: "latest"

- name: "Copy OpenDKIM Config file into server"
  copy:
    src: opendkim.conf
    dest: /etc/opendkim.conf
  
- name: "Copy DKIM keys into server"
  copy:
     src: secret/dkim_keys
     dest: /etc/postfix/

- name: "Copy opendkim files into server"
  copy:
     src: "{{ item }}"
     dest: /etc/opendkim/
     owner: opendkim
     group: opendkim
  with_items:
     - secret/KeyTable
     - secret/SigningTable
     - secret/TrustedHosts

- name: "Set permission opendkim permission in keys"
  file:
    path: /etc/postfix/dkim_keys
    owner: "opendkim"
    group: "opendkim"
    mode: 0700
    recurse: yes

- name: "Restart and Enable OpenDKIM Service"
  service:
     name: "opendkim"
     state: "restarted"
     enabled: "yes"
