smtpd_banner = $myhostname ESMTP $mail_name
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

# See http://www.postfix.org/COMPATIBILITY_README.html -- default to 2 on
# fresh installs.
compatibility_level = 2

# TLS parameters
smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

#smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
myhostname = {{ hostname }}
mydomain = {{ hostname }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
mydestination = $myhostname, localhost.$mydomain, localhost, $mydomain
mynetworks = {{ mynetworks  }}
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all
smtpd_client_connection_count_limit = {{ smtp_maximum_connection }}


### DKIM Signing
{% if opendkim is sameas true %}
milter_protocol = 2
milter_default_action = accept
smtpd_milters = inet:localhost:12301
non_smtpd_milters = inet:localhost:12301
{% endif %}

smtpd_tls_security_level = may
smtp_tls_security_level = may
smtp_tls_loglevel = 1
smtpd_tls_loglevel = 1
### HAProxy as loadbalancer
{% if haproxy is sameas true %}
postscreen_upstream_proxy_protocol = haproxy
{% endif %}
### Outgoing Policy
{% if outgoing_policy is sameas true %}
smtpd_client_restrictions = check_recipient_access hash:/etc/postfix/blacklisted_domains, permit_mynetworks
{% else %}
smtpd_client_restrictions = permit_mynetworks, reject
{% endif %}

{% if rate_limit is sameas true %}
### Rate Limit Configurations
transport_maps = hash:/etc/postfix/transport

### SMTP Rate Limit
smtp_destination_concurrency_limit = {{ smtp_destination_concurrency_normal }}
smtp_destination_rate_delay = {{ smtp_rate_delay_normal }}
smtp_extra_recipient_limit = 10

### Lakposht (Yahoo, AOL) Rate Limit
lakposht_destination_rate_delay = 60s
lakposht_destination_concurrency_limit = 1
lakposht_destination_recipient_limit = 2
{% endif %}

{% if queue_management is sameas true %}
### Queue Management
queue_run_delay = 300s
minimal_backoff_time = 300s
maximal_backoff_time = 30m
maximal_queue_lifetime = 1h
qmgr_message_active_limit = {{ maximum_active_queue }}

{% endif %}
