[Unit]
Description=Postfix Queue statistics

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/postfix-queue

[Install]
WantedBy=multi-user.target
